*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: 'Inter', sans-serif;
    background:#ffffff;
}

/* Navbar */

header{
    width:100%;
    border-top:4px solid #1b1b1b;
}

.navbar{
    width:90%;
    max-width:1200px;
    margin:auto;

    height:88px;

    display:flex;
    align-items:center;
    justify-content:space-between;
}

/* Logo */

.logo{
    display:flex;
    align-items:center;
    gap:12px;
}


/* Navigation */

.nav-links{
    list-style:none;
    display:flex;
    gap:38px;
}

.nav-links a{
    text-decoration:none;
    color:#555;
    font-size:17px;
    font-weight:500;
    transition:.3s;
}

.nav-links a:hover{
    color:#2457e6;
}

/* Button */

.btn{
    text-decoration:none;
    background:#2855df;
    color:#fff;

    padding:15px 36px;

    border-radius:12px;

    font-size:17px;
    font-weight:600;
}

.btn:hover{
    background:#1d46c5;
}
